.extension {

    // &__button {
    //     border: none;
    //     margin-right: 16px;
    // }

    // &__status {
    //     border-bottom: none !important;
    // }

    &__details {
        padding: 0 !important;
    }

    &__icon {
        height: 16px;
        width: auto;
        margin-top: 1px;

        &--canceled {
            fill: #eaecef;
        }

        &--created {
            fill: #eaecef;
        }

        &--errored {
            fill: #cb2431;
        }

        &--failed {
            fill: #cb2431;
        }

        &--passed {
            fill: #28a745;
        }

        &--started {
            fill: #dbab09;
        }

    }

    &__stages {
        padding: 10px 15px 20px 52px;
        list-style-type: none;
    }

    &__stage {
        padding: 5px 0;

        & + & {
            margin-top: 15px;
        }

        &-status {
            cursor: help;
        }

        &-name {
            margin-left: 8px;
        }

    }

    &__jobs {
        margin-top: 10px;
        list-style-type: none;
    }

    &__job {
        padding: 8px 10px;
        border: 1px solid #e1e4e8;
        background-color: #FFF;

        & + & {
            border-top: none;
        }

        &:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &-status {
            cursor: help;
        }

        &-number {
            margin-left: 8px;
        }

        &-runtime {
            margin-left: auto;
            margin-right: 15px;
        }

    }

}
